body {
   margin: 70px;
   background-color: rgb(58, 88, 87);
}

.profile-container {
   display: flex;
}

.profile-container .profile-col {
   margin: 1rem 2rem;
   border-radius: 6px;
   background-color: white;
   border: 1px solid gray;
}

#profileArmia {
   height: fit-content;
}

#profile-image {
   width: 100%;
   height: auto;
}

#profile-name {
   text-align: center;
}